@using FilmsCatalog.ViewModels
@model PagingViewModel
@{
    //var pageLinksCount = Math.Ceiling((double)Model.TotalCount / (double)Model.PageSize);
    var prevPageNo = Model.CurrentPageNo == 1 ? 1 : Model.CurrentPageNo - 1;
    var nextPageNo = Model.CurrentPageNo == Model.TotalPages ? 1 : Model.CurrentPageNo + 1;

}

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">

            <li class="page-item @(Model.CurrentPageNo == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.ActionLink(Model.Action, Model.Controller, new { pageNo = prevPageNo, pageSize = Model.PageSize })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>


            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var active = i == Model.CurrentPageNo ? " active" : "";
                <text>
                    <li class="page-item@(active)"><a class="page-link" href="@Url.ActionLink(Model.Action, Model.Controller, new { pageNo = i, pageSize = Model.PageSize })">@i</a></li>
                </text>
            }

            <li class="page-item @(Model.CurrentPageNo == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.ActionLink(Model.Action, Model.Controller, new { pageNo = nextPageNo, pageSize = Model.PageSize })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>